@charset "utf-8";
@font-face{
    font-family: "MouseMemoirs";
    src: url(../font/MouseMemoirs-Regular.ttf);
}
@font-face{
    font-family: "Walter";
    src: url(../font/Walter-zrol.ttf);
}
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
ol,ul,li{
    list-style: none;
}
img,svg,iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
html,body{
    font-size: 100%;
}
input{
    outline: none;
    border: none;
}